dn: dc={{ datacenter }},dc={{ domain }}
dc: {{ datacenter }}
objectClass: top
objectClass: domain

dn: cn={{ slapd_root_user }},dc={{ datacenter }},dc={{ domain }}
objectClass: organizationalRole
cn: {{ slapd_root_user }}
description: LDAP Manager

dn: cn=monitor,dc={{ datacenter }},dc={{ domain }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: monitor
description: LDAP monitor
userPassword: {{ slapd_monitor_pass_hash }}

dn: ou=People,dc={{ datacenter }},dc={{ domain }}
objectClass: organizationalUnit
ou: People

dn: ou=Group,dc={{ datacenter }},dc={{ domain }}
objectClass: organizationalUnit
ou: Group

dn: ou=aclroles,dc={{ datacenter }},dc={{ domain }}
objectClass: organizationalUnit
ou: aclroles
