dn: dc={{ datacenter }},dc={{ domain }}
dc: {{ datacenter }}
objectClass: top
objectClass: domain

dn: cn={{ slapd_root_user }},dc={{ datacenter }},dc={{ domain }}
objectClass: organizationalRole
cn: {{ slapd_root_user }}
description: LDAP Manager

dn: ou=people,dc={{ datacenter }},dc={{ domain }}
objectClass: organizationalUnit
ou: people

dn: ou=group,dc={{ datacenter }},dc={{ domain }}
objectClass: organizationalUnit
ou: group

dn: ou=aclroles,dc={{ datacenter }},dc={{ domain }}
objectClass: organizationalUnit
ou: aclroles

{% if slapd_fd_dept | bool %}
dn: uid={{ slapd_fd_user }},ou=people,dc={{ datacenter }},dc={{ domain }}
objectClass: inetOrgPerson
objectClass: organizationalPerson
objectClass: person
cn: System Administrator
sn: Administrator
givenName: System
uid: {{ slapd_fd_user }}
{% endif %}
