### Update Server ID with LDAP URL ###

dn: cn=config
changetype: modify
replace: olcServerID
{% for host in slapd_servers %}
olcServerID: {{ loop.index }} ldap://{{ host }}
{% endfor %}

### Enable Config Replication###

dn: olcOverlay=syncprov,olcDatabase={0}config,cn=config
changetype: add
objectClass: olcOverlayConfig
objectClass: olcSyncProvConfig
olcOverlay: syncprov

### Adding config details for confDB replication ###

dn: olcDatabase={0}config,cn=config
changetype: modify
add: olcSyncRepl
{% for host in slapd_servers %}
olcSyncRepl: rid=00{{ loop.index }} provider=ldap://{{ host }} binddn="cn=config"
  bindmethod=simple credentials={{ slapd_root_pass | default('changeme') }} searchbase="cn=config"
  type=refreshAndPersist retry="5 5 300 5" timeout=5
{% endfor %}
-
add: olcMirrorMode
olcMirrorMode: TRUE
